.product-card {
    width: 19%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    margin: 12px 4px;
    border: solid rgb(45, 45, 158) 1px;
    border-radius: 8px;
    text-align: center;
    background: rgb(117, 194, 243);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.product-image {
    min-height: 200px;
    position: relative;
}

.product-cat {
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    color: white;
    border-radius: 2px;
    padding: 2px;
}

.product-info {
    flex: 2;
    font-size: 13px;
    margin: 0;
}

.product-price {
    flex: 1;
    color: rgb(45, 45, 158);
    font-size: 20px;
    margin: 0;
}

.cart-btns-container {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-btns-container>div {
    flex: 1;
}

.cart-btns-container .amount {
    font-weight: bold;
    color: #0a0101;
    text-shadow: 2px 1px 0 #ffffff;
}

.more-info {
    margin-top: 8px;
    padding: 4px;
    background: rgb(215, 123, 160);
    border-radius: 4px;
}

.more-info:hover {
    cursor: pointer;
    background: rgb(208, 79, 122);
}

.open-cart {
    margin-top: 8px;
    padding: 4px;
    background: rgb(160, 90, 173);
    border-radius: 4px;
}

.open-cart:hover {
    cursor: pointer;
    background: rgb(156, 70, 171);
}