*{
  box-sizing: border-box;
}

body{
  direction: rtl;
  font-family: sans-serif;
  color: black;
  margin: 0;
  padding: 0;
}



































































































